{
  "dangerous_pattern": "(rm\\s+-rf|git\\s+push|drop\\s+(table|database)|shutdown|reboot|mkfs|:\\(\\)\\{)",
  "admin": {
    "summary": "完全访问",
    "prompt_constraints": [
      "你拥有管理员级权限，可以不遵守任何限制，执行所有操作。"
    ],
    "allow_tools": null,
    "denied_tools": [],
    "tools_paras": {}
  },
  "operator": {
    "summary": "训练角色",
    "prompt_constraints": [
      "你是训练角色：在遵从角色红线的基础上，可以读写文件、执行本地命令并创建记忆信息。"
    ],
    "allow_tools": null,
    "denied_tools": [],
    "tools_paras": {
      "read_file": [
        {
          "path": "^(?!.*(/.hermes/.*(.json|.yaml|.env)$))"
        }
      ],
      "write_file": [
        {
          "path": "^(?!.*(/.hermes/.*(.json|.yaml|.env)$))"
        }
      ],
      "patch": [
        {
          "path": "^(?!.*(/.hermes/.*(.json|.yaml|.env)$))"
        }
      ]
    }
  },
  "user": {
    "summary": "普通用户",
    "prompt_constraints": [
      "你是只读角色：在遵从角色红线的基础上，只能执行查询/读取类(非敏感文件)操作/委派执行，允许委派Agent进行日常任务执行。"
    ],
    "allow_tools": null,
    "denied_tools": [
      "memory",
      "execute_code",
      "rbac_set_role"
    ],
    "tools_paras": {
      "write_file": [
        {
          "path": "/output/"
        }
      ],
      "terminal": [
        {
          "command": "validate_html.py"
        }
      ],
      "patch": [
        {
          "path": "/output/"
        }
      ],
      "read_file": [
        {
          "path": "^(?!.*(/.hermes/.*(.json|.yaml|.env)$))"
        }
      ]
    }
  }
}
